In [ ]:
# https://anaconda.org/ijstokes/sql-server-pyodbc-anaconda-demonstration/notebook

In [64]:
import pymysql
import pandas as pd

In [78]:
dbhost = 'localhost'
dbport = 3306
dbuser = 'root'
dbpasswd = ''
dbname = 'test'

In [82]:
df = pd.read_csv('diabetes.csv', dtype=str)
df.head()

     id chol stab.glu hdl age  gender height weight   frame bp.1s bp.1d
0  1000  203       82  56  46  female     62    121  medium   118    59
1  1001  165       97  24  29  female     64    218   large   112    68
2  1002  228       92  37  58  female     61    256   large   190    92
3  1003   78       93  12  67    male     67    119   large   110    50
4  1005  249       90  28  64    male     68    183  medium   138    80

In [83]:
df["chol"].fillna(0, inplace=True)
df["stab.glu"].fillna(0, inplace=True)
df["hdl"].fillna(0, inplace=True)
df["age"].fillna(0, inplace=True)
df["gender"].fillna('', inplace=True)
df["height"].fillna(0, inplace=True)
df["weight"].fillna(0, inplace=True)
df["frame"].fillna('', inplace=True)
df["bp.1s"].fillna(0, inplace=True)
df["bp.1d"].fillna(0, inplace=True)

In [85]:
conn = pymysql.connect(host=dbhost, port=dbport, user=dbuser, passwd=dbpasswd, db=dbname)
conn.autocommit(1)
cursor = conn.cursor()

for index, row in df.iterrows():

    sql = "INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) "
    sql = sql + "VALUES (UUID(),'" + str(row["id"]) + "', '"
    sql = sql + str(row["chol"]) + "', '"
    sql = sql + str(row["stab.glu"]) + "', '"
    sql = sql + str(row["hdl"]) + "', '"
    sql = sql + str(row["age"]) + "', '"
    sql = sql + str(row["gender"]) + "', '"
    sql = sql + str(row["height"]) + "', '"
    sql = sql + str(row["weight"]) + "', '"
    sql = sql + str(row["frame"]) + "', '"
    sql = sql + str(row["bp.1s"]) + "', '"
    sql = sql + str(row["bp.1d"]) + "');"
    
    print(sql)
    cursor.execute(sql)

INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1000', '203', '82', '56', '46', 'female', '62', '121', 'medium', '118', '59');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1001', '165', '97', '24', '29', 'female', '64', '218', 'large', '112', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1002', '228', '92', '37', '58', 'female', '61', '256', 'large', '190', '92');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1003', '78', '93', '12', '67', 'male', '67', '119', 'large', '110', '50');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1005', '249', '90', '28', '64', 'male', '68', '183', 'medium', '138', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1008', '248', '94', '69', '34', 'male', '71', '190', 'large', '132', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1011', '195', '92', '41', '30', 'male', '69', '191', 'medium', '161', '112');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1015', '227', '75', '44', '37', 'male', '59', '170', 'medium', '0', '0');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1016', '177', '87', '49', '45', 'male', '69', '166', 'large', '160', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1022', '263', '89', '40', '55', 'female', '63', '202', 'small', '108', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1024', '242', '82', '54', '60', 'female', '65', '156', 'medium', '130', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1029', '215', '128', '34', '38', 'female', '58', '195', 'medium', '102', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1030', '238', '75', '36', '27', 'female', '60', '170', 'medium', '130', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1031', '183', '79', '46', '40', 'female', '59', '165', 'medium', '0', '0');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1035', '191', '76', '30', '36', 'male', '69', '183', 'medium', '100', '66');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1036', '213', '83', '47', '33', 'female', '65', '157', 'medium', '130', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1037', '255', '78', '38', '50', 'female', '65', '183', 'medium', '130', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1041', '230', '112', '64', '20', 'male', '67', '159', 'medium', '100', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1045', '194', '81', '36', '36', 'male', '64', '126', 'medium', '110', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1250', '196', '206', '41', '62', 'female', '65', '196', 'large', '178', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1252', '186', '97', '50', '70', 'male', '67', '178', 'large', '148', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1253', '234', '65', '76', '47', 'male', '67', '230', 'large', '137', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1254', '203', '299', '43', '38', 'female', '69', '288', 'large', '136', '83');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1256', '281', '92', '41', '66', 'female', '62', '185', 'large', '158', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1271', '228', '66', '45', '24', 'female', '61', '113', 'medium', '100', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1277', '179', '80', '92', '41', 'female', '72', '118', 'small', '144', '112');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1280', '232', '87', '30', '37', 'male', '68', '252', 'large', '140', '95');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1281', '0', '74', '0', '48', 'male', '68', '100', 'small', '120', '85');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1282', '254', '84', '52', '43', 'female', '62', '145', 'medium', '125', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1285', '215', '72', '42', '40', 'male', '70', '189', 'medium', '180', '122');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1301', '177', '101', '36', '42', 'female', '65', '174', 'medium', '146', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1303', '182', '85', '43', '52', 'male', '68', '139', 'large', '130', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1304', '265', '330', '34', '61', 'male', '74', '191', 'medium', '170', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1305', '182', '85', '37', '61', 'female', '69', '174', 'medium', '176', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1309', '199', '87', '63', '25', 'male', '66', '118', 'medium', '120', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1312', '183', '81', '60', '47', 'female', '66', '186', 'medium', '140', '97');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1313', '194', '86', '67', '35', 'male', '66', '159', 'medium', '115', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1314', '190', '107', '32', '46', 'male', '72', '205', 'medium', '0', '0');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1315', '173', '80', '57', '57', 'male', '71', '145', 'medium', '124', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1316', '182', '206', '43', '70', 'male', '69', '214', 'large', '158', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1317', '136', '81', '51', '22', 'female', '66', '160', 'large', '105', '85');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1321', '218', '68', '46', '52', 'female', '62', '170', 'medium', '142', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1323', '225', '83', '42', '36', 'male', '67', '192', 'large', '149', '89');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1326', '262', '84', '38', '43', 'male', '75', '253', 'large', '124', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1500', '213', '76', '40', '72', 'female', '59', '137', 'large', '130', '60');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1501', '243', '52', '59', '37', 'female', '64', '233', 'medium', '110', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'1502', '148', '193', '14', '54', 'female', '67', '165', 'medium', '140', '65');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2004', '128', '223', '24', '60', 'male', '67', '196', 'medium', '110', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2750', '169', '85', '51', '40', 'female', '65', '180', 'medium', '106', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2753', '157', '74', '47', '55', 'female', '66', '219', 'medium', '150', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2754', '196', '82', '58', '76', 'male', '65', '154', '', '158', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2756', '237', '87', '41', '43', 'female', '64', '181', 'medium', '104', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2757', '212', '97', '45', '65', 'female', '61', '187', 'large', '158', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2758', '233', '92', '39', '45', 'female', '64', '167', 'large', '124', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2762', '289', '111', '50', '70', 'female', '60', '220', 'medium', '126', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2763', '193', '106', '63', '20', 'female', '68', '274', 'small', '165', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2765', '204', '128', '61', '62', 'male', '68', '180', 'large', '141', '81');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2770', '165', '94', '69', '92', 'female', '62', '217', 'large', '160', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2773', '237', '233', '58', '49', 'female', '62', '189', 'large', '130', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2774', '218', '88', '39', '44', 'female', '66', '191', 'large', '138', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2775', '296', '262', '60', '74', 'female', '63', '183', 'large', '159', '99');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2777', '178', '78', '59', '36', 'male', '70', '161', 'medium', '130', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2778', '443', '185', '23', '51', 'female', '70', '235', 'medium', '158', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2780', '145', '85', '29', '38', 'female', '0', '125', '', '0', '0');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2784', '234', '80', '63', '31', 'male', '70', '165', 'medium', '121', '71');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2785', '146', '77', '60', '28', 'female', '64', '126', 'small', '120', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2787', '223', '75', '85', '22', 'female', '62', '137', 'medium', '120', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2791', '213', '203', '75', '71', 'female', '63', '165', 'medium', '150', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2793', '173', '131', '69', '76', 'female', '61', '102', 'medium', '160', '60');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2794', '232', '184', '114', '91', 'female', '61', '127', '', '170', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'2795', '171', '92', '54', '40', 'male', '71', '214', 'medium', '138', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'3250', '164', '86', '40', '23', 'female', '69', '245', 'large', '126', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'3750', '170', '69', '64', '20', 'female', '64', '161', 'medium', '108', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'3751', '180', '84', '69', '40', 'female', '68', '264', 'medium', '142', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'3752', '204', '57', '74', '52', 'male', '75', '142', 'small', '140', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4000', '209', '113', '65', '76', 'female', '60', '143', 'large', '156', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4500', '242', '108', '53', '46', 'female', '62', '183', 'medium', '130', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4501', '134', '105', '42', '48', 'male', '70', '173', 'large', '178', '120');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4506', '217', '81', '60', '22', 'female', '71', '223', 'medium', '120', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4515', '251', '94', '36', '58', 'female', '63', '154', 'large', '174', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4517', '217', '88', '40', '34', 'male', '73', '219', 'medium', '145', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4750', '300', '103', '44', '61', 'female', '67', '169', 'small', '138', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4751', '218', '87', '38', '40', 'male', '73', '200', 'small', '120', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4753', '189', '96', '47', '28', 'female', '64', '200', 'medium', '136', '52');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4758', '185', '84', '52', '53', 'female', '61', '145', 'medium', '147', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4759', '206', '85', '46', '67', 'male', '67', '178', 'large', '119', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4760', '218', '182', '54', '51', 'female', '0', '215', 'large', '139', '69');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4761', '189', '75', '72', '49', 'female', '62', '205', 'medium', '120', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4763', '229', '95', '74', '65', 'female', '62', '151', 'medium', '125', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4767', '228', '76', '53', '54', 'male', '66', '170', 'large', '121', '62');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4770', '159', '88', '43', '38', 'male', '68', '169', 'large', '138', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4771', '249', '197', '44', '64', 'female', '63', '159', 'medium', '151', '85');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4772', '170', '106', '42', '41', 'female', '61', '110', 'small', '103', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4776', '174', '125', '44', '67', 'male', '68', '198', 'large', '119', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4780', '204', '62', '70', '27', 'female', '67', '185', 'medium', '110', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4783', '203', '84', '75', '21', 'female', '63', '142', 'medium', '125', '85');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4786', '241', '86', '63', '41', 'female', '59', '139', 'medium', '112', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4787', '245', '120', '39', '47', 'female', '63', '156', 'medium', '142', '102');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4789', '143', '91', '37', '61', 'female', '65', '220', 'large', '160', '92');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4790', '224', '341', '33', '65', 'male', '67', '197', 'medium', '160', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4792', '168', '69', '45', '28', 'female', '63', '200', 'large', '111', '65');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4793', '184', '79', '39', '41', 'male', '69', '154', 'large', '136', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4794', '199', '130', '48', '37', 'female', '61', '203', 'large', '136', '84');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4795', '158', '91', '48', '50', 'male', '71', '180', 'medium', '136', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4796', '209', '176', '55', '57', 'female', '61', '150', 'small', '115', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4801', '214', '111', '59', '28', 'male', '68', '204', 'medium', '130', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4802', '293', '85', '94', '31', 'female', '67', '200', 'medium', '110', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4803', '227', '105', '44', '83', 'female', '59', '125', 'medium', '150', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4805', '292', '235', '55', '79', 'male', '70', '165', '', '170', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4808', '218', '80', '71', '68', 'male', '70', '170', 'large', '130', '73');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'4813', '244', '101', '36', '32', 'male', '70', '212', '', '132', '90');

INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15545', '206', '112', '33', '41', 'female', '62', '184', 'small', '104', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15546', '143', '371', '46', '68', 'male', '67', '158', 'small', '138', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15757', '173', '83', '37', '40', 'female', '0', '130', 'small', '122', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15758', '235', '91', '37', '79', 'female', '65', '134', 'small', '142', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15760', '169', '95', '29', '62', 'male', '66', '251', 'large', '118', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15761', '283', '145', '39', '63', 'female', '61', '200', 'medium', '190', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15762', '174', '93', '77', '55', 'male', '70', '140', 'medium', '118', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15763', '271', '103', '90', '55', 'female', '63', '114', 'small', '180', '105');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15766', '203', '94', '62', '27', 'female', '67', '209', 'medium', '140', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15773', '188', '174', '24', '66', 'male', '68', '210', 'large', '160', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15777', '293', '87', '120', '63', 'female', '64', '179', 'medium', '142', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15779', '215', '80', '100', '78', 'male', '65', '109', 'small', '170', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15782', '207', '77', '46', '68', 'male', '55', '130', 'small', '199', '115');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15787', '179', '77', '72', '31', 'male', '66', '145', 'medium', '131', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15792', '202', '81', '55', '64', 'female', '62', '167', 'medium', '190', '118');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15795', '211', '98', '40', '40', 'female', '68', '179', 'small', '110', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15797', '211', '225', '29', '61', 'female', '63', '144', 'medium', '190', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15798', '151', '74', '47', '28', 'male', '69', '130', 'small', '135', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15799', '171', '85', '61', '34', 'female', '63', '164', 'medium', '120', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15800', '342', '251', '48', '63', 'female', '65', '201', 'medium', '178', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15801', '179', '236', '63', '55', 'male', '75', '186', 'medium', '122', '74');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15802', '155', '58', '69', '26', 'male', '73', '174', 'small', '110', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15805', '197', '92', '46', '36', 'female', '64', '136', 'small', '0', '0');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15812', '200', '56', '51', '40', 'female', '62', '105', 'small', '125', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15813', '237', '96', '52', '45', 'male', '69', '130', 'small', '137', '74');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15814', '198', '118', '46', '68', 'female', '63', '124', 'medium', '130', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15815', '240', '88', '49', '82', 'female', '63', '170', 'medium', '180', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15816', '192', '56', '42', '60', 'female', '62', '134', 'small', '130', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15818', '145', '84', '54', '30', 'female', '65', '165', 'small', '102', '56');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15820', '269', '59', '66', '41', 'male', '67', '191', 'large', '130', '73');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15821', '240', '96', '57', '54', 'female', '65', '175', 'medium', '152', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15827', '205', '83', '42', '72', 'female', '61', '180', '', '170', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'15828', '266', '82', '54', '47', 'male', '68', '142', 'medium', '118', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16000', '188', '88', '51', '50', 'female', '61', '147', 'large', '160', '66');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16001', '222', '82', '87', '51', 'female', '66', '110', 'small', '150', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16003', '142', '155', '25', '45', 'male', '69', '204', 'large', '165', '115');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16004', '268', '90', '48', '38', 'female', '63', '181', 'medium', '142', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16005', '174', '105', '117', '20', 'male', '70', '187', 'medium', '132', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'16016', '214', '87', '35', '44', 'female', '0', '190', 'large', '140', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17002', '194', '54', '57', '63', 'male', '70', '181', 'large', '184', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17751', '196', '115', '62', '50', 'male', '67', '140', 'medium', '176', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17752', '207', '187', '46', '44', 'female', '67', '201', 'large', '150', '74');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17754', '204', '89', '56', '48', 'male', '68', '196', 'medium', '170', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17755', '189', '84', '46', '41', 'female', '63', '153', 'medium', '130', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17756', '179', '77', '50', '29', 'male', '68', '170', 'small', '122', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17757', '159', '100', '54', '76', 'male', '66', '188', 'large', '116', '53');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17760', '260', '68', '60', '69', 'female', '59', '179', 'large', '158', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17762', '228', '79', '37', '26', 'male', '72', '259', 'large', '122', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17765', '242', '74', '55', '70', 'female', '66', '200', 'medium', '140', '65');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17766', '227', '98', '66', '25', 'male', '71', '162', 'medium', '123', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17767', '208', '122', '51', '42', 'female', '62', '141', 'large', '118', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17771', '208', '95', '32', '56', 'male', '68', '183', 'medium', '131', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17772', '209', '89', '43', '31', 'female', '67', '160', 'medium', '108', '58');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17773', '163', '83', '57', '31', 'female', '65', '120', 'small', '136', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17776', '201', '100', '46', '27', 'female', '65', '145', 'small', '121', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17781', '237', '118', '45', '73', 'female', '64', '174', 'large', '162', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17784', '176', '90', '34', '32', 'female', '63', '252', 'medium', '100', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17790', '146', '79', '41', '19', 'female', '60', '135', 'medium', '108', '58');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17791', '231', '70', '110', '71', 'female', '63', '155', 'small', '150', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17794', '241', '92', '40', '27', 'female', '63', '179', 'medium', '120', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17795', '305', '91', '44', '31', 'male', '71', '211', 'large', '100', '60');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17800', '149', '77', '49', '20', 'female', '62', '115', 'small', '105', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17802', '183', '69', '51', '31', 'female', '66', '190', 'medium', '125', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17805', '235', '109', '59', '62', 'female', '63', '290', 'large', '175', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17808', '244', '101', '39', '44', 'male', '71', '168', 'medium', '140', '89');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17813', '199', '153', '77', '36', 'female', '66', '255', 'large', '118', '66');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17814', '224', '85', '30', '36', 'male', '69', '205', 'medium', '150', '99');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17816', '173', '225', '31', '47', 'male', '73', '260', 'medium', '150', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17817', '192', '124', '31', '30', 'male', '72', '250', 'medium', '142', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17818', '157', '91', '34', '63', 'male', '69', '166', 'large', '106', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17819', '172', '117', '56', '48', 'female', '63', '170', 'medium', '130', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17828', '170', '67', '33', '65', 'male', '69', '182', 'large', '140', '65');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17829', '215', '97', '46', '59', 'female', '63', '176', 'large', '140', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17830', '214', '67', '47', '37', 'female', '64', '145', 'medium', '108', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17834', '195', '171', '29', '78', 'male', '66', '172', 'large', '130', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17835', '230', '86', '37', '23', 'male', '71', '277', 'large', '150', '99');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17841', '206', '90', '38', '38', 'female', '69', '167', 'medium', '138', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17846', '147', '86', '34', '38', 'male', '69', '205', 'small', '130', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'17849', '234', '78', '54', '41', 'male', '67', '183', 'medium', '122', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20254', '135', '88', '34', '29', 'female', '65', '123', 'small', '118', '61');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20258', '226', '68', '83', '49', 'female', '63', '128', 'small', '121', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20260', '179', '75', '36', '23', 'female', '65', '183', 'medium', '120', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20261', '163', '69', '48', '29', 'female', '62', '99', 'small', '125', '60');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20267', '191', '74', '33', '40', 'male', '72', '270', 'large', '136', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20271', '138', '95', '40', '38', 'female', '60', '138', 'small', '140', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20272', '184', '92', '36', '40', 'female', '63', '285', 'large', '142', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20274', '181', '101', '44', '29', 'male', '68', '180', 'medium', '130', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20275', '224', '98', '44', '78', 'female', '63', '160', 'large', '150', '81');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20278', '293', '115', '54', '50', 'male', '71', '170', 'medium', '131', '75');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20279', '147', '78', '42', '23', 'female', '61', '185', '', '127', '71');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20288', '198', '92', '62', '60', 'male', '70', '163', 'medium', '126', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20289', '152', '103', '32', '40', 'female', '52', '187', 'medium', '148', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20290', '277', '119', '62', '60', 'female', '61', '128', 'small', '140', '86');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20292', '219', '105', '63', '40', 'female', '62', '153', 'small', '106', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20293', '182', '74', '44', '30', 'female', '62', '125', 'medium', '132', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20294', '135', '88', '47', '21', 'male', '69', '155', 'small', '110', '68');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20298', '277', '88', '45', '63', 'female', '64', '223', 'medium', '220', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20306', '212', '82', '68', '63', 'male', '70', '161', 'medium', '180', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20308', '162', '76', '40', '43', 'male', '67', '216', 'large', '100', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20309', '207', '102', '43', '46', 'female', '63', '179', 'medium', '212', '114');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20312', '255', '100', '34', '64', 'male', '68', '227', 'medium', '134', '74');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20313', '404', '206', '33', '56', 'male', '69', '159', 'medium', '162', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20314', '239', '97', '55', '35', 'male', '74', '170', 'small', '122', '62');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20315', '220', '95', '58', '59', 'female', '66', '138', 'small', '138', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20318', '165', '76', '46', '22', 'female', '63', '114', 'small', '112', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20325', '243', '74', '42', '43', 'female', '64', '239', 'medium', '128', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20329', '149', '138', '50', '26', 'female', '62', '174', 'medium', '148', '92');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20332', '178', '64', '52', '41', 'female', '65', '188', 'small', '130', '76');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20335', '190', '228', '57', '43', 'female', '65', '198', 'small', '110', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'20337', '226', '97', '70', '20', 'female', '64', '114', 'small', '122', '64');

INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40775', '219', '173', '31', '56', 'female', '65', '197', 'small', '100', '50');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40784', '226', '279', '52', '84', 'female', '60', '192', 'small', '144', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40785', '217', '75', '54', '20', 'female', '67', '187', 'medium', '110', '72');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40786', '157', '92', '47', '80', 'male', '71', '212', 'medium', '156', '88');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40787', '235', '102', '42', '60', 'male', '69', '186', 'medium', '148', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40789', '252', '161', '87', '80', 'female', '62', '162', 'small', '160', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40792', '204', '71', '55', '29', 'female', '64', '120', 'small', '110', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40797', '188', '84', '46', '43', 'female', '66', '152', 'small', '122', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40799', '194', '95', '36', '63', 'female', '58', '210', 'medium', '140', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40803', '215', '64', '84', '37', 'female', '59', '148', 'medium', '140', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40804', '179', '105', '60', '20', 'female', '58', '170', 'medium', '140', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'40805', '202', '84', '33', '44', 'male', '68', '157', 'small', '125', '80');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41000', '194', '87', '65', '54', 'male', '69', '129', 'small', '170', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41001', '227', '85', '26', '58', 'male', '70', '211', 'large', '144', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41003', '337', '85', '62', '35', 'male', '72', '189', 'medium', '124', '84');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41004', '255', '83', '90', '52', 'male', '70', '120', 'medium', '170', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41021', '162', '90', '46', '60', 'female', '63', '121', 'medium', '110', '64');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41023', '322', '87', '92', '43', 'female', '56', '120', '', '120', '98');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41029', '289', '267', '38', '59', 'male', '68', '169', 'large', '142', '79');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41034', '217', '87', '40', '33', 'female', '62', '186', 'small', '140', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41035', '209', '91', '36', '37', 'male', '70', '262', 'medium', '130', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41036', '214', '77', '48', '40', 'male', '72', '222', 'medium', '120', '84');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41037', '302', '81', '57', '38', 'female', '67', '222', 'medium', '128', '82');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41039', '179', '85', '52', '32', 'female', '62', '179', 'medium', '140', '96');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41041', '279', '270', '40', '60', 'female', '68', '224', 'large', '174', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41055', '144', '81', '28', '30', 'male', '72', '165', 'small', '118', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41063', '270', '73', '40', '42', 'male', '66', '185', 'large', '146', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41065', '196', '120', '67', '52', 'female', '62', '147', 'medium', '144', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41075', '221', '126', '48', '59', 'female', '62', '177', 'medium', '130', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41078', '210', '81', '81', '78', 'male', '66', '145', 'large', '110', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41253', '192', '85', '69', '51', 'male', '65', '146', 'large', '130', '110');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41254', '169', '104', '58', '25', 'female', '60', '154', 'medium', '140', '95');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41500', '179', '85', '50', '37', 'male', '66', '136', 'medium', '190', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41501', '216', '84', '64', '54', 'female', '66', '168', 'medium', '132', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41503', '301', '90', '118', '89', 'female', '61', '115', 'medium', '218', '90');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41506', '296', '369', '46', '53', 'male', '69', '173', 'medium', '138', '94');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41507', '284', '89', '54', '51', 'female', '63', '154', 'medium', '140', '100');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41510', '194', '269', '38', '29', 'female', '69', '167', 'small', '120', '70');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41752', '199', '76', '52', '41', 'female', '63', '197', 'medium', '120', '78');
INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),'41756', '159', '88', '79', '68', 'female', '64', '220', 'medium', '100', '72');