In [9]:
import pymysql
import pandas as pd

CREATE TABLE `users` (
  `userID` varchar(10) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `smoker` varchar(10) DEFAULT NULL,
  `drink_level` varchar(20) DEFAULT NULL,
  `dress_preference` varchar(20) DEFAULT NULL,
  `ambience` varchar(20) DEFAULT NULL,
  `transport` varchar(20) DEFAULT NULL,
  `marital_status` varchar(20) DEFAULT NULL,
  `hijos` varchar(20) DEFAULT NULL,
  `birth_year` int(11) DEFAULT NULL,
  `interest` varchar(20) DEFAULT NULL,
  `personality` varchar(20) DEFAULT NULL,
  `religion` varchar(20) DEFAULT NULL,
  `activity` varchar(20) DEFAULT NULL,
  `color` varchar(20) DEFAULT NULL,
  `weight` int(11) DEFAULT NULL,
  `budget` varchar(20) DEFAULT NULL,
  `height` double DEFAULT NULL,
  PRIMARY KEY (`userID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

In [10]:
dbhost = 'localhost'
dbport = 3306
dbuser = 'root'
dbpasswd = ''
dbname = 'test'

In [11]:
df = pd.read_csv('restaurant-data-with-consumer-ratings/userprofile.csv', dtype=str)
df.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867,-99.183,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [12]:
conn = pymysql.connect(host=dbhost, port=dbport, user=dbuser, passwd=dbpasswd, db=dbname)
conn.autocommit(1)
cursor = conn.cursor()

for index, row in df.iterrows():

    sql = "INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, "
    sql = sql + "dress_preference,ambience,transport,marital_status,hijos, "
    sql = sql + "birth_year,interest,personality,religion,activity,color, "
    sql = sql + "weight,budget,height) "
    sql = sql + "VALUES ('" + str(row["userID"]) + "', '"
    sql = sql + str(row["latitude"]) + "', '"
    sql = sql + str(row["longitude"]) + "', '"
    sql = sql + str(row["smoker"]) + "', '"
    sql = sql + str(row["drink_level"]) + "', '"
    sql = sql + str(row["dress_preference"]) + "', '"
    sql = sql + str(row["ambience"]) + "', '"
    sql = sql + str(row["transport"]) + "', '"
    sql = sql + str(row["marital_status"]) + "', '"
    sql = sql + str(row["hijos"]) + "', '"
    sql = sql + str(row["birth_year"]) + "', '"
    sql = sql + str(row["interest"]) + "', '"
    sql = sql + str(row["personality"]) + "', '"
    sql = sql + str(row["religion"]) + "', '"
    sql = sql + str(row["activity"]) + "', '"
    sql = sql + str(row["color"]) + "', '"
    sql = sql + str(row["weight"]) + "', '"
    sql = sql + str(row["budget"]) + "', '"
    sql = sql + str(row["height"]) + "');"
    
    print(sql)
    print("_________________________________________")
    cursor.execute(sql)

INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1001', '22.139997', '-100.978803', 'false', 'abstemious', 'informal', 'family', 'on foot', 'single', 'independent', '1989', 'variety', 'thrifty-protector', 'none', 'student', 'black', '69', 'medium', '1.77');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1002', '22.150087', '-100.983325', 'false', 'abstemious', 'informal', 'family', 'public', 'single', 'independent', '1990', 'technology', 'hunter-ostentatious', 'Catholic', 'student', 'red', '40', 'low', '1.87');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1003', '22.119847', '-100.946527', 'false', 'social drinker', 'formal', 'family', 'public', 'single', 'independent', '1989', 'none', 'hard-worker', 'Catholic', 'student', 'blue', '60', 'low', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1004', '18.867', '-99.183', 'false', 'abstemious', 'informal', 'family', 'public', 'single', 'independent', '1940', 'variety', 'hard-worker', 'none', 'professional', 'green', '44', 'medium', '1.53');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1005', '22.183477', '-100.959891', 'false', 'abstemious', 'no preference', 'family', 'public', 'single', 'independent', '1992', 'none', 'thrifty-protector', 'Catholic', 'student', 'black', '65', 'medium', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1006', '22.15', '-100.983', 'true', 'social drinker', 'no preference', 'friends', 'car owner', 'single', 'independent', '1989', 'variety', 'hard-worker', 'none', 'student', 'blue', '75', 'medium', '1.8');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1007', '22.118464', '-100.938256', 'false', 'casual drinker', 'informal', 'solitary', 'public', 'single', 'independent', '1989', 'variety', 'thrifty-protector', 'Catholic', 'student', 'purple', '60', 'low', '1.59');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1008', '22.122989', '-100.923811', 'false', 'social drinker', 'formal', 'solitary', 'public', 'single', 'independent', '1989', 'technology', 'hard-worker', 'Catholic', 'student', 'green', '68', 'low', '1.72');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1009', '22.159427', '-100.990448', 'false', 'abstemious', 'formal', 'family', 'on foot', 'single', 'kids', '1991', 'variety', 'thrifty-protector', 'Catholic', 'student', 'green', '75', 'medium', '1.78');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1010', '22.190889', '-100.998669', 'false', 'social drinker', 'no preference', 'friends', 'car owner', 'married', 'kids', '1987', 'technology', 'hard-worker', 'none', 'student', 'green', '40', 'medium', '1.67');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1011', '23.724972', '-99.152856', 'false', 'abstemious', 'no preference', 'family', 'public', 'single', 'independent', '1989', 'variety', 'hard-worker', 'Catholic', 'student', 'purple', '68', 'medium', '1.78');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1012', '18.813348', '-99.243697', 'false', 'casual drinker', 'formal', 'family', 'public', 'single', 'independent', '1988', 'technology', 'hard-worker', 'Catholic', 'student', 'red', '98', 'medium', '1.84');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1013', '22.174624', '-100.993873', 'false', 'abstemious', 'no preference', 'friends', 'public', 'widow', 'independent', '1982', 'retro', 'thrifty-protector', 'none', 'professional', 'blue', '80', 'medium', '1.75');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1014', '23.751607', '-99.170108', 'false', 'abstemious', '?', 'friends', 'public', 'single', 'independent', '1990', 'none', 'hard-worker', 'Catholic', 'student', 'blue', '53', 'medium', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1015', '22.12676', '-100.905209', 'true', 'social drinker', 'informal', 'family', 'public', 'single', 'independent', '1989', 'technology', 'thrifty-protector', 'Catholic', 'student', 'black', '87', 'medium', '1.67');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1016', '22.156247', '-100.977402', 'false', 'casual drinker', 'informal', 'friends', 'on foot', 'single', 'independent', '1991', 'eco-friendly', 'thrifty-protector', 'Catholic', 'student', 'green', '70', 'medium', '1.67');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1017', '18.952615', '-99.201616', 'false', 'casual drinker', 'formal', 'family', 'public', 'single', '?', '1991', 'retro', 'hunter-ostentatious', 'none', 'professional', 'orange', '79', 'medium', '1.79');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1018', '22.190949', '-100.917902', 'true', 'casual drinker', 'formal', 'friends', 'public', 'single', 'independent', '1989', 'technology', 'thrifty-protector', 'Christian', 'student', 'blue', '65', 'low', '1.83');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1019', '22.153385', '-100.975294', 'false', 'casual drinker', 'no preference', 'family', 'public', 'single', 'independent', '1989', 'variety', 'thrifty-protector', 'Catholic', 'student', 'purple', '59', 'medium', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1020', '18.878189', '-99.222969', 'false', 'abstemious', 'no preference', 'friends', 'public', 'single', 'independent', '1982', 'technology', 'hard-worker', 'Catholic', 'professional', 'blue', '40', 'medium', '1.68');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1021', '23.730569', '-99.171883', 'false', 'social drinker', 'no preference', 'family', 'car owner', 'single', 'dependent', '1984', 'none', 'hard-worker', 'Catholic', 'student', 'purple', '108', 'medium', '1.62');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1022', '22.146708', '-100.964355', 'false', 'casual drinker', 'formal', 'family', 'car owner', 'single', 'independent', '1990', 'variety', 'hard-worker', 'Catholic', 'student', 'purple', '46', 'medium', '1.54');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1023', '23.752943', '-99.166589', 'false', 'casual drinker', 'informal', 'friends', 'car owner', 'single', 'independent', '1988', 'none', 'hard-worker', 'Catholic', 'student', 'blue', '103', 'low', '1.79');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1024', '22.154021', '-100.976028', '?', 'abstemious', '?', '?', '?', '?', '?', '1930', 'none', 'hard-worker', 'none', '?', 'yellow', '40', '?', '1.2');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1025', '22.125603', '-100.907844', 'false', 'social drinker', 'no preference', 'family', 'public', 'single', '?', '1990', 'none', 'thrifty-protector', 'Catholic', 'student', 'red', '65', 'medium', '1.79');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1026', '23.733', '-99.133', 'false', 'abstemious', 'formal', 'family', 'public', 'single', 'independent', '1989', 'technology', 'hunter-ostentatious', 'Catholic', 'student', 'red', '49', 'medium', '1.55');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1027', '22.16515', '-100.987015', 'true', 'social drinker', 'no preference', '?', 'public', 'single', 'independent', '1989', 'retro', 'thrifty-protector', 'Catholic', 'student', 'purple', '60', 'low', '1.65');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1028', '23.752874', '-99.169242', 'false', 'abstemious', 'no preference', 'family', 'public', 'single', 'independent', '1989', 'variety', 'hard-worker', 'Christian', 'student', 'blue', '77', 'medium', '1.63');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1029', '22.151796', '-100.989075', 'true', 'casual drinker', 'formal', 'family', 'public', 'single', 'independent', '1990', 'variety', 'conformist', 'Catholic', 'student', 'white', '58', 'low', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1030', '18.844818', '-99.182758', 'false', 'casual drinker', 'formal', 'family', 'on foot', 'single', 'independent', '1991', 'eco-friendly', 'hard-worker', 'Catholic', 'student', 'black', '64', 'medium', '1.75');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1031', '23.735698', '-99.159851', 'false', 'abstemious', 'informal', 'solitary', '?', 'married', 'kids', '1992', 'none', 'hard-worker', 'Catholic', 'unemployed', 'white', '40', 'medium', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1032', '22.169184', '-100.986843', 'false', 'abstemious', 'formal', 'family', 'public', 'single', 'independent', '1989', 'variety', 'hard-worker', 'Catholic', 'student', 'blue', '40', 'medium', '1.75');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1033', '22.15', '-100.983', 'false', 'social drinker', 'no preference', 'family', 'on foot', 'single', '?', '1991', 'none', 'hard-worker', 'none', 'student', 'yellow', '54', 'low', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1034', '22.137178', '-101.013169', 'false', 'casual drinker', 'informal', 'family', 'public', 'single', 'independent', '1990', 'technology', 'thrifty-protector', 'Catholic', 'student', 'yellow', '50', 'medium', '1.58');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1035', '18.839671', '-99.223897', 'true', 'casual drinker', 'no preference', 'friends', 'car owner', 'single', 'independent', '1985', 'variety', 'hunter-ostentatious', 'none', 'student', 'red', '69', 'medium', '1.75');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1036', '22.160572', '-100.989418', 'false', 'social drinker', 'informal', 'family', 'public', 'single', 'independent', '1991', 'none', 'hard-worker', 'Catholic', 'student', 'blue', '76', 'medium', '1.7');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1037', '22.15031', '-100.900536', 'false', 'social drinker', 'no preference', 'family', 'public', 'single', 'independent', '1990', 'variety', 'thrifty-protector', 'Catholic', 'student', 'blue', '52', 'low', '1.5');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1038', '22.125786', '-100.943705', 'true', 'social drinker', 'no preference', 'family', 'public', 'single', 'independent', '1930', 'variety', 'thrifty-protector', 'Catholic', 'student', 'blue', '97', 'low', '1.83');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1039', '23.738067', '-99.139906', 'false', 'social drinker', 'no preference', 'friends', '?', 'single', 'independent', '1989', 'none', 'hard-worker', 'none', 'student', 'yellow', '83', 'medium', '1.73');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1040', '18.895187', '-99.18039', 'false', 'abstemious', 'no preference', 'friends', 'public', 'single', 'independent', '1994', 'none', 'thrifty-protector', 'Catholic', 'student', 'blue', '73', 'medium', '1.64');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1041', '18.935191', '-99.23624', 'false', 'abstemious', 'no preference', 'friends', 'on foot', 'single', 'independent', '1985', 'eco-friendly', 'hunter-ostentatious', 'Catholic', 'professional', 'white', '40', 'medium', '1.62');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1042', '18.925773', '-99.219589', 'false', 'abstemious', 'no preference', 'family', 'car owner', 'single', 'independent', '1943', 'technology', 'thrifty-protector', 'Christian', 'student', 'yellow', '40', 'high', '1.4');
_________________________________________

_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1111', '22.143078', '-100.908523', 'true', 'casual drinker', 'formal', 'friends', 'car owner', 'single', 'independent', '1991', 'none', 'hard-worker', 'Catholic', 'student', 'white', '69', 'medium', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1112', '22.143078', '-100.908523', 'true', 'casual drinker', 'formal', 'friends', 'car owner', 'single', 'independent', '1991', 'none', 'hard-worker', 'Catholic', 'student', 'white', '69', 'medium', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1113', '22.137343', '-100.913935', 'false', 'casual drinker', 'formal', 'family', 'public', 'single', 'independent', '1990', 'none', 'thrifty-protector', 'Catholic', 'student', 'blue', '75', 'medium', '1.73');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1114', '22.177726', '-101.014094', 'false', 'abstemious', 'no preference', 'family', 'on foot', 'single', 'independent', '1991', 'variety', 'hard-worker', 'Catholic', 'student', 'blue', '58', 'medium', '1.68');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1115', '22.138127', '-100.920512', 'true', 'social drinker', 'elegant', 'friends', 'public', 'single', 'independent', '1990', 'variety', 'hard-worker', 'Catholic', 'student', 'green', '76', 'low', '1.76');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1116', '22.156469', '-100.98554', 'false', 'social drinker', 'formal', 'family', 'public', 'married', 'kids', '1987', 'technology', 'thrifty-protector', 'Catholic', 'student', 'blue', '40', 'medium', '1.71');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1117', '18.875641', '-99.220737', 'false', 'abstemious', 'no preference', 'friends', 'public', 'single', 'independent', '1982', 'technology', 'thrifty-protector', 'Catholic', 'professional', 'blue', '58', 'medium', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1118', '18.940062', '-99.228172', 'true', 'casual drinker', 'informal', 'friends', 'public', 'single', 'independent', '1987', 'technology', 'thrifty-protector', 'none', 'student', 'black', '60', 'medium', '1.68');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1119', '18.96479', '-99.260017', 'false', 'abstemious', 'formal', 'family', 'public', 'single', 'independent', '1992', 'eco-friendly', 'thrifty-protector', 'Catholic', 'student', 'blue', '68', 'medium', '1.68');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1120', '22.121857', '-100.904279', 'false', 'abstemious', 'informal', 'friends', 'public', 'single', 'independent', '1930', 'variety', 'hard-worker', 'none', 'student', 'green', '47', 'low', '1.57');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1121', '18.871674', '-99.183253', 'false', 'social drinker', 'no preference', 'family', 'public', 'married', 'independent', '1987', 'variety', 'thrifty-protector', 'Catholic', 'working-class', 'black', '90', 'medium', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1122', '22.169601', '-100.991821', '?', 'abstemious', '?', '?', '?', '?', '?', '1930', 'none', 'hard-worker', 'none', '?', 'yellow', '40', '?', '1.2');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1123', '23.753112', '-99.168567', 'false', 'abstemious', 'informal', 'family', '?', 'single', 'independent', '1987', 'technology', 'hard-worker', 'Catholic', 'student', 'green', '110', 'medium', '1.75');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1124', '22.137072', '-100.918865', 'false', 'casual drinker', 'informal', 'friends', 'public', 'single', 'independent', '1991', 'none', 'hard-worker', 'Catholic', 'student', 'blue', '51', 'low', '1.2');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1125', '22.19204', '-100.956935', 'false', 'casual drinker', 'formal', 'friends', 'public', 'single', 'independent', '1990', 'technology', 'hard-worker', 'Catholic', 'student', 'white', '57', 'low', '1.67');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1126', '22.15421', '-100.942233', 'false', 'casual drinker', 'formal', 'friends', 'on foot', 'single', 'independent', '1990', 'technology', 'hard-worker', 'Catholic', 'student', 'purple', '65', 'low', '1.63');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1127', '18.943935', '-99.206532', 'false', 'abstemious', 'no preference', 'solitary', 'public', 'single', 'independent', '1992', 'variety', 'hard-worker', 'Catholic', 'student', 'black', '65', 'low', '1.76');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1128', '22.187236', '-100.994213', 'false', 'casual drinker', 'no preference', 'friends', 'public', 'single', 'independent', '1986', 'variety', 'thrifty-protector', 'Catholic', 'student', 'red', '66', 'low', '1.72');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1129', '23.728798', '-99.134047', 'false', 'casual drinker', 'no preference', 'friends', 'public', 'single', 'independent', '1989', 'variety', 'thrifty-protector', 'none', 'student', 'purple', '69', 'low', '1.69');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1130', '23.733', '-99.133', '?', 'abstemious', '?', '?', '?', '?', '?', '1989', 'none', 'hard-worker', 'none', '?', 'yellow', '40', '?', '1.2');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1131', '22.138245', '-100.910948', 'true', 'social drinker', 'no preference', 'friends', 'car owner', 'married', 'kids', '1990', 'eco-friendly', 'hard-worker', 'none', 'student', 'black', '90', 'medium', '1.8');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1132', '22.15', '-100.983', 'false', 'casual drinker', 'informal', 'solitary', 'public', 'single', '?', '1991', 'none', 'hard-worker', 'none', 'student', 'blue', '55', '?', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1133', '18.886698', '-99.114979', 'false', 'abstemious', 'no preference', 'family', 'car owner', 'single', 'independent', '1991', 'none', 'hard-worker', 'none', 'student', 'orange', '60', 'medium', '1.57');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1134', '22.149654', '-100.99861', 'false', 'casual drinker', 'no preference', 'family', 'public', 'single', 'independent', '1991', 'variety', 'hard-worker', 'Catholic', 'student', 'black', '52', 'medium', '1.65');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1135', '22.170396', '-100.949936', 'false', 'casual drinker', 'informal', 'family', 'on foot', 'single', 'kids', '1988', 'variety', 'hunter-ostentatious', 'Catholic', 'student', 'purple', '66', 'low', '1.54');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1136', '22.149607', '-100.997235', 'true', 'social drinker', 'no preference', 'friends', 'car owner', 'single', 'independent', '1990', 'retro', 'thrifty-protector', 'Catholic', 'student', 'black', '50', 'low', '1.6');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1137', '22.144803', '-100.944623', 'false', 'social drinker', 'formal', 'family', 'public', 'single', 'independent', '1989', 'eco-friendly', 'hard-worker', 'Catholic', 'student', 'blue', '72', 'low', '1.78');
_________________________________________
INSERT INTO test.users (userID,latitude,longitude,smoker,drink_level, dress_preference,ambience,transport,marital_status,hijos, birth_year,interest,personality,religion,activity,color, weight,budget,height) VALUES ('U1138', '22.152884', '-100.939663', 'false', 'social drinker', 'formal', 'friends', 'public', 'single', 'independent', '1991', 'variety', 'thrifty-protector', 'none', 'student', 'blue', '54', 'medium', '1.55');
_________________________________________