In [ ]:
# https://anaconda.org/ijstokes/sql-server-pyodbc-anaconda-demonstration/notebook

In [4]:
import pymysql
import pandas as pd

In [9]:
dbhost = 'localhost'
dbport = 3306
dbuser = 'root'
dbpasswd = 'artema2'
dbname = 'test'

In [25]:
df = pd.read_csv('diabetes.csv', dtype=str)
df.head()

     id chol stab.glu hdl age  gender height weight   frame bp.1s bp.1d
0  1000  203       82  56  46  female     62    121  medium   118    59
1  1001  165       97  24  29  female     64    218   large   112    68
2  1002  228       92  37  58  female     61    256   large   190    92
3  1003   78       93  12  67    male     67    119   large   110    50
4  1005  249       90  28  64    male     68    183  medium   138    80

In [26]:
sql = "INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) "
sql = sql + "VALUES (UUID(),%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) "
print(sql)

INSERT INTO diabetes (auto_id,id,chol,glu,hdl,age,gender,height,weight,frame,bps,bpd) VALUES (UUID(),%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

In [33]:
conn = pymysql.connect(host=dbhost, port=dbport, user=dbuser, passwd=dbpasswd, db=dbname)
conn.autocommit(1)
cursor = conn.cursor()

for index, row in df.iterrows():
    params = []
    params.append(row["id"])
    params.append(row["chol"])
    params.append(row["stab.glu"])
    params.append(row["hdl"])
    params.append(row["age"])
    params.append(row["gender"])
    params.append(row["height"])
    params.append(row["weight"])
    params.append(row["frame"])
    params.append(row["bp.1s"])
    params.append(row["bp.1d"])
    print(params)
    #cursor.execute(sql, params)

['1000']
['1001']
['1002']
['1003']
['1005']
['1008']
['1011']
['1015']
['1016']
['1022']
['1024']
['1029']
['1030']
['1031']
['1035']
['1036']
['1037']
['1041']
['1045']
['1250']
['1252']
['1253']
['1254']
['1256']
['1271']
['1277']
['1280']
['1281']
['1282']
['1285']
['1301']
['1303']
['1304']
['1305']
['1309']
['1312']
['1313']
['1314']
['1315']
['1316']
['1317']
['1321']
['1323']
['1326']
['1500']
['1501']
['1502']
['2004']
['2750']
['2753']
['2754']
['2756']
['2757']
['2758']
['2762']
['2763']
['2765']
['2770']
['2773']
['2774']
['2775']
['2777']
['2778']
['2780']
['2784']
['2785']
['2787']
['2791']
['2793']
['2794']
['2795']
['3250']
['3750']
['3751']
['3752']
['4000']
['4500']
['4501']
['4506']
['4515']
['4517']
['4750']
['4751']
['4753']
['4758']
['4759']
['4760']
['4761']
['4763']
['4767']
['4770']
['4771']
['4772']
['4776']
['4780']
['4783']
['4786']
['4787']
['4789']
['4790']
['4792']
['4793']
['4794']
['4795']
['4796']
['4801']
['4802']
['4803']
['4805']
['4808']
['4813']
['4818']
['4821']
['4822']
['4823']
['4825']
['4826']
['4827']
['4833']
['4835']
['4840']
['4841']
['4842']
['4843']
['10000']
['10001']
['10012']
['10014']
['10016']
['10020']
['12002']
['12004']
['12005']
['12006']
['12501']
['12502']
['12506']
['12507']
['12509']
['12751']
['12754']
['12760']
['12761']
['12763']
['12765']
['12766']
['12768']
['12769']
['12772']
['12778']
['13250']
['13254']
['13500']
['13501']
['13503']
['13505']
['14756']
['14758']
['15007']
['15008']
['15010']
['15012']
['15013']
['15016']
['15017']
['15250']
['15252']
['15260']
['15264']
['15271']
['15274']
['15276']
['15277']
['15278']
['15279']
['15500']
['15501']
['15502']
['15512']
['15513']
['15514']
['15515']
['15516']
['15517']
['15518']
['15519']
['15520']
['15521']
['15522']
['15527']
['15529']
['15540']
['15542']
['15545']
['15546']
['15757']
['15758']
['15760']
['15761']
['15762']
['15763']
['15766']
['15773']
['15777']
['15779']
['15782']
['15787']
['15792']
['15795']
['15797']
['15798']
['15799']
['15800']
['15801']
['15802']
['15805']
['15812']
['15813']
['15814']
['15815']
['15816']
['15818']
['15820']
['15821']
['15827']
['15828']
['16000']
['16001']
['16003']
['16004']
['16005']
['16016']
['17002']
['17751']
['17752']
['17754']
['17755']
['17756']
['17757']
['17760']
['17762']
['17765']
['17766']
['17767']
['17771']
['17772']
['17773']
['17776']
['17781']
['17784']
['17790']
['17791']
['17794']
['17795']
['17800']
['17802']
['17805']
['17808']
['17813']
['17814']
['17816']
['17817']
['17818']
['17819']
['17828']
['17829']
['17830']
['17834']
['17835']
['17841']
['17846']
['17849']
['20254']
['20258']
['20260']
['20261']
['20267']
['20271']
['20272']
['20274']
['20275']
['20278']
['20279']
['20288']
['20289']
['20290']
['20292']
['20293']
['20294']
['20298']
['20306']
['20308']
['20309']
['20312']
['20313']
['20314']
['20315']
['20318']
['20325']
['20329']
['20332']
['20335']
['20337']
['20340']
['20343']
['20346']
['20350']
['20352']
['20355']
['20361']
['20365']
['20367']
['20368']
['20369']
['20750']
['20754']
['20761']
['20762']
['20765']
['20768']
['20773']
['20774']
['20775']
['20782']
['20783']
['20784']
['20787']
['20790']
['21254']
['21255']
['21257']
['21281']
['21284']
['21298']
['21318']
['21320']
['21321']
['21322']
['21323']
['21329']
['21333']
['21334']
['21338']
['21341']
['21343']
['21345']
['21346']
['21347']
['21357']
['21359']
['40251']
['40253']
['40500']
['40501']
['40502']
['40751']
['40754']
['40755']
['40762']
['40764']
['40772']
['40773']
['40774']
['40775']
['40784']
['40785']
['40786']
['40787']
['40789']
['40792']
['40797']
['40799']
['40803']
['40804']
['40805']
['41000']
['41001']
['41003']
['41004']
['41021']
['41023']
['41029']
['41034']
['41035']
['41036']
['41037']
['41039']
['41041']
['41055']
['41063']
['41065']
['41075']
['41078']
['41253']
['41254']
['41500']
['41501']
['41503']
['41506']
['41507']
['41510']
['41752']
['41756']